body {
	margin: 0 auto;
	max-width: 80vw;
	font-family: "PingFang TC", Consolas;
	font-size: 20px;
}

@media (max-width: 1400px) {
	body {
		margin: 0 auto;
		max-width: 100vw;
	}

	.col-md-8 {
		width: 60%;
		padding: 0 20px 0 20px !important;
	}

	.col-md-2 {
		margin: 0 15% 0 0 !important;
	}

	#article {
		min-width: 100%;
		margin-top: 100px;
	}

	.math-container {		
		font-size: 16px;
	}
}

@media (max-width: 991px) {
	body {
		margin: 0 auto;
		max-width: 100vw;
		font-size: 18px !important;
	}

	.col-md-8 {
		min-width: 100%;
		padding: 0% !important;	
	}

	.col-md-2 {
		display: none;
	}

	#article {
		min-width: 100%;
		margin-top: 7vh !important;
		border-radius: 0 !important;	
	}

	img.page-cover-image {	
		border-radius: 0;
	}

	.properties table th {
		width: 40% !important;
	}

	.math-container {
		width: 100% !important;
		font-size: 14px;
	}

	.hljs {
		font-size: 16px !important;
	}

	p.medium,
	.medium.post_list,
	img.medium,
	.medium.math-container,
	.medium.post-table {
		width: 100% !important;
	}

	p.medium.annotation {		
		margin-left: 0 !important;
	}

	.page-title {
		font-size: 36px !important;
	}

	h2 {
		font-size: 28px !important;
	}

	details h3 {
		font-size: 24px !important;
	}

	.top span {
		font-size: 18px !important;
	}

	.copy iconify-icon {
		font-size: 22px !important;
	}

	.table-th, 
	.table-th-center {
		font-size: 20px;
	}

	.little_title {
		font-size: 20px !important;
	}

	.highlight-red,
	.highlight-orange,
	.highlight-green,
	.highlight-blue,
	.highlight-gray,
	.highlight-purple {
		font-size: 16px !important;
	}

}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.row {
	display: flex;	
	width: 100%;
	margin: auto;
}

.col-md-8 {	
	width: 70%;
	padding: 0 0 0 0;
	display: block; /* 清除可能的預設間距 */
	margin: 0 0 0 auto; /* 調整上下間距，左右置中 */	
	align-items: end;
}

.col-md-8.center {
	margin: 0 auto 0 auto;
}

.col-md-2 {	
	width: 15%;
	margin: 0 auto 0 0;
	text-align: left;	
	padding: 0;
}

/*--------------------------------------------------------------
# TOC
--------------------------------------------------------------*/

/* 設定目錄的樣式 */
#toc {
	margin: 120px auto 0 auto;
	color: var(--font2-color);
	background-color: var(--bg3-color);
	border-radius: 1rem;
	position: fixed; /* 讓目錄固定 */
	text-align: left;
	padding: 1.5% 1.5% 2% 1.5%;
	box-shadow: var(--shadow3-color);
	border: 1.5px solid var(--font3-color);
	width: 20%;
	height: 75.7%;
}
  
#toc-list {
	padding: 0;
	margin: 0;
	height: 90%;
	overflow: auto ;
}

/* 自定义滚动条样式 */
#toc-list::-webkit-scrollbar {
	width: 5px;
  }
  
#toc-list::-webkit-scrollbar-track {
	background-color: var(--bg2-color);
	box-shadow: none;
	border-radius: 8px;
	visibility: hidden;
}

#toc-list::-webkit-scrollbar-thumb {
	background-color: var(--code-line);
	border-radius: 8px;
	visibility: hidden;
}

#toc:hover #toc-list::-webkit-scrollbar-track,
#toc:hover #toc-list::-webkit-scrollbar-thumb {
	visibility: visible;
}

#toc h2{
	margin: 20px 0 15px 10px;
	font-size: 36px;
}

#toc ul {
	list-style: none;
	padding: 0 5px;
	line-height: 1.4;
	width: 100%;
}

#toc li {
	margin-bottom: 5px;
	padding:5px 10px;
	display: flex;
	align-items: center;
}

#toc li:hover {	
	cursor: pointer;
	background-color: var(--code-bg);
	border-radius: 0.3rem;
}

#toc li:hover a{	
	color: var(--font2-color);
}

/*--------------------------------------------------------------
# Article
--------------------------------------------------------------*/

#article {
	width: 95%;
	margin: 120px auto 0 auto;
	border-radius: 1rem;
	box-shadow: var(--shadow-color);
	overflow: hidden;
	border: 1.5px solid var(--font3-color);
	background-color: var(--bg3-color);
}

/*--------------------------------------------------------------
# Properties
--------------------------------------------------------------*/
.page-title {
	font-size: 40px;
	margin: 3% 0 1% 0;
	text-align: start;
	text-transform: none;
	font-family: "PingFang TC", Consolas;
	font-weight: bolder;
}

.properties {
	padding: 0 5%;
}

.properties table{
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid var(--hover-bg-color);
}

.properties table th{
	width: 25%;
	padding: 5px 10px 25px 10px;
	color: var(--font2-color);
	font-size: 16px;
	font-weight: 500;
}

.properties table th i {
	margin-right: 10px;
}

.properties table td{
	padding: 5px 10px 25px 10px;
	color: var(--font-color);
	font-size: 16px;
}

.properties table span i{
	margin-left: 3px;
	color: var(--highlight-font-5);
	font-size: 16px;
	vertical-align: middle;
}

.properties table .red{
	background-color: var(--highlight-bg-1);
	border-radius: 0.5rem;
	color: var(--highlight-font-1);
	padding: 7px;
	margin-right: 10px;
	font-size: 16px;
}

.properties table .orange {
	background-color: var(--highlight-bg-2);
	border-radius: 0.5rem;
	color: var(--highlight-font-2);
	padding: 7px;
	margin-right: 10px;
	font-size: 16px;
}

.properties table .green {
	background-color: var(--highlight-bg-3);
	border-radius: 0.5rem;
	color: var(--highlight-font-3);
	padding: 7px;
	margin-right: 10px;
	font-size: 16px;
}

.properties table .blue {
	background-color: var(--highlight-bg-4);
	border-radius: 0.5rem;
	color: var(--highlight-font-4);
	padding: 7px;
	margin-right: 10px;
	font-size: 16px;
}

.properties table .gray a {
	background-color: var(--highlight-bg-5);
	border-radius: 0.5rem;
	color: var(--highlight-font-5);
	padding: 7px;
	margin-right: 10px;
	font-size: 16px;
}

.properties table .purple {
	background-color: var(--highlight-bg-6);
	border-radius: 0.5rem;
	color: var(--highlight-font-6);
	padding: 7px;
	margin-right: 10px;
	font-size: 16px;
}

.properties table a:hover,
.properties table a:hover i {
	color: var(--hover-font-color) ;
}

.page-body{
	padding: 0 5%;
}

/*--------------------------------------------------------------
# Imgage
--------------------------------------------------------------*/
  
img {
	width: 100%;
	display: block; /* 清除可能的預設間距 */
	margin: 20px auto; /* 調整上下間距，左右置中 */
	border-radius: 1rem;
	border: 1px solid var(--font3-color);
	background-color: var(--bar-color);
	box-shadow: var(--shadow4-color);
}

img.page-cover-image {	
	width: 100%;
	padding: 0 !important;
	box-shadow: var(--shadow-color);
	margin: 0 0 5%;
	border: 1px solid var(--opacity-bg-1);
}

.image-container {
	background-repeat: no-repeat;
 	background-size: cover;
	transition: background-image 0.3s ease-in-out;
}

.image-container.loaded::before {
	animation: none;
	content: none;
}
  
.image-container img {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
  
.image-container.loaded img {
	opacity: 1;
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/

details h3 {
	margin: 0 7px;
	display: inline;
	font-size: 26px;
	font-weight: bold;
}

details summary {
	margin: 15px 0;
}

details .indented {
	margin-left: 32px;
}

details .indented .card {
	margin-bottom: 80px;
}

/*--------------------------------------------------------------
# Annotation
--------------------------------------------------------------*/

.card.annotation {
	margin-bottom: 5px !important;
}

p.annotation {
	font-style: italic;
	color: var(--annotation-color);
	margin:0 0 80px;
	padding: 5px 10px;
}

img.annotation {
	margin: 20px 0 5px;
}


/*--------------------------------------------------------------
# ZoomImage
--------------------------------------------------------------*/

.zoomed-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(8px);
	background-color: var(--opacity-bg-2);
	z-index: 9999;
}

.zoomed-image img {
	max-width: 100%;
	max-height: 100%;
	width: auto; /* 設置為自動，保持原始寬高比例 */
	height: auto; /* 設置為自動，保持原始寬高比例 */
	object-fit: contain;	
	margin: auto;
} 

/*--------------------------------------------------------------
# CodeBlock、plot-container
--------------------------------------------------------------*/

.code-wrap {
	padding: 0;
	margin: 0;
}

.card {
	margin: 20px 0 80px;
	width: 100%;
	border-radius: 1rem;
	box-shadow: var(--shadow3-color);
	overflow: hidden;
	border: 1px solid var(--font3-color);
	background-color: var(--code-bg);
}

.top {
	min-height: 55px;
	max-height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--code-bg);
	border: none;
	border-bottom: 1px solid var(--font3-color);
	padding: 0 10px 0 15px;
	margin: 0;
}

.top span {
	color: var(--font2-color);
	font-size: 20px;
	font-weight: 600;
	font-family: "PingFang TC", Consolas;
	margin-left: 10px;
}

.bottom {
	background-color: var(--code-bg2);
	border: none;
	padding: 0;
	margin: 0;
}

.bottom.plot-container {
	background-color: #FFFFFF;
}

.dots {
	display: flex;
	align-items: center;
}

.dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	align-content: center;
}

.dot-1 {
	background-color: #FC625D;
}

.dot-2 {
	background-color: #FDBC40;
}

.dot-3 {
	background-color: #35CD4B;
}

button:active {
	border: none;
}

button.copy {
	width: auto;
	background-color: none;
	border: none;
	display: flex;
	align-items: center; /* 垂直置中 */
}

.copy iconify-icon,
.link i {
	display: flex;
	align-items: center; /* 垂直置中 */
	font-size: 24px;
	color: var(--font2-color);
}

.copy iconify-icon:hover {
	color: var(--hover-font-color);
	cursor: pointer;
	background-color: none;
}

.copy span{
	font-weight: 500;
}

.dot,
.top p {
	margin: 5px;
}

.languageSelected {
	font-size: 20px;
	font-weight: 600;
	padding: 3px 10px;
	cursor: pointer;
	border-radius: 0.5rem;
	color: var(--font2-color);
}

.languageSelected i {
	font-size: 18px;
	margin-left: 5px;
	vertical-align: middle;
}

.languageSelector .languageSelected:hover{
	background-color: var(--hover-bg-color);
}

.hidden {
	display: none;
}

.languageOptions {
	position: absolute;
	top: 50px;
	padding: 5px 0;
	z-index: 99;
	background: var(--code-bg2);
	border-radius: 0.5rem;
	border: 2px solid var(--font3-color);
	list-style: none;  
	min-width: 150px;
	max-width: 300px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: var(--shadow3-color);
	transition: max-height 0.8s ease; /* 添加過渡效果 */
	max-height: 0; /* 初始時隱藏 */
	visibility: hidden;
}

.languageOptions.active {
	max-height: 300px; /* 顯示時的高度 */	
	visibility: visible;
}

.options_list {
	overflow-y: auto;
	max-height: 80px;
}

.languageOptions li {	
	padding: 5px 10px;
	color: var(--font2-color);	
}

.languageOptions li.selected {	
	font-weight: bolder;	
	color: var(--sp-color);
}
  
.languageOptions li:hover {
	background: var(--bg2-color);
}

.pageOptions {	
	display: flex;
	align-items: center;
	list-style: none;
	user-select: none;
	color: var(--font-color);
	margin: 0 20px;
	padding: 20px 0 0 0;
}

.pageOptions li {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	padding: 5px 20px;	
	height: 2rem;
	font-size: 18px;
}

.pageOptions li.selected {
	background-color: var(--code-bg2);
}

.pageOptions li:hover:not(.selected) {
	background-color: var(--hover-bg-color);
}

.pageOptions li.selected {
    position: relative;
	background-color: var(--code-bg2);
    border-radius: 0.5rem 0.5rem 0 0;

    &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: -25px;
        bottom: 0;
        background:radial-gradient(circle at 0 0, transparent 25px, var(--code-bg2) 21px);
    }
    &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -25px;
        bottom: 0;
        background:radial-gradient(circle at 100% 0, transparent 25px, var(--code-bg2) 21px);
    }
}

/*--------------------------------------------------------------
# Code Highlight
--------------------------------------------------------------*/

.hljs {
	background-color: var(--code-bg2);
	margin: 0px 0px;
	padding: 2px 5px;
	font-size: 18px;
	overflow: auto;
	tab-size: 4;
	font-family: "PingFang TC", Consolas;
}

.hljs::-webkit-scrollbar-track {
	box-shadow: none;
}

.hljs::-webkit-scrollbar {
	height: 8px;
	/* 設定滾動條寬度 */
}

.card:hover .hljs::-webkit-scrollbar-thumb {
	visibility: visible;
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 
    text-align: end;
	min-width: 40px;
    color: var(--code-line);
    vertical-align: center;
	padding-right: 20px !important;
    /* your custom style here */
}

.hljs::-webkit-scrollbar-thumb {
	background-color: var(--opacity-bg-1);
	/* 設定滾動條拇指顏色 */
	border-radius: 0.5rem;
	/* 設定滾動條拇指圓角 */	
	visibility: hidden;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/

.post-table {	
	margin: 20px 0;
	width: 100%;
	overflow: hidden;
	border-radius: 1rem;
	border: 2px solid var(--font3-color);
	background-color: var(--font3-color);
}

.table-th {
	border-spacing: 0;
	padding: 10px 15px;
	font-size: 20px;
	border: 2px solid var(--font3-color);
	background-color: var(--code-bg);
}

.table-th.center {
	border-spacing: 0;
	padding: 10px 15px;
	font-size: 20px;
	text-align: center;
	border: 2px solid var(--font3-color);
	background-color: var(--code-bg);
}

.table-td {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: var(--bg3-color);
	border: 2px solid var(--font3-color);
	margin: 0;
	padding: 10px 15px;
}

.table-td.center {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: var(--bg3-color);
	border: 2px solid var(--font3-color);
	margin: 0;
	padding: 10px 15px;
	text-align: center;
}

.table-tr:hover .table-td {
	background-color: var(--bg-color) !important;
}

.table-td .link a i {
	margin: auto 0;
	font-size: 20px;
}

.table-td a {
	display: flex;
	align-items: center;
}
  
.table-td a i {
	font-size: 24px;
	margin: auto;
} 

/*--------------------------------------------------------------
# Span Highlight、Mark
--------------------------------------------------------------*/

.highlight-red {
	background-color: var(--highlight-bg-1);
	border-radius: 0.5rem;
	color: var(--highlight-font-1);
	padding: 7px;
	margin: 0 7px;
	font-size: 18px;
}

.highlight-orange {
	background-color: var(--highlight-bg-2);
	border-radius: 0.5rem;
	color: var(--highlight-font-2);
	padding: 7px;
	margin: 0 7px;
	font-size: 18px;
}

.highlight-green {
	background-color: var(--highlight-bg-3);
	border-radius: 0.5rem;
	color: var(--highlight-font-3);
	padding: 7px;
	margin: 0 7px;
	font-size: 18px;
}

.highlight-blue {
	background-color: var(--highlight-bg-4);
	border-radius: 0.5rem;
	color: var(--highlight-font-4);
	padding: 7px;
	padding: 7px;
	margin: 0 7px;
	font-size: 18px;
}

.highlight-gray {
	background-color: var(--highlight-bg-5);
	border-radius: 0.5rem;
	color: var(--highlight-font-5);
	padding: 7px;
	margin: 0 7px;
	font-size: 18px;
}

.highlight-purple {
	background-color: var(--highlight-bg-6);
	border-radius: 0.5rem;
	color: var(--highlight-font-6);
	padding: 7px;
	margin: 0 7px;
	font-size: 18px;
}

.mark {
	background-color: var(--mark);
	border-radius: 5px;
	padding: 7px 3px;
	font-display: block;
}

/*--------------------------------------------------------------
# Article List
--------------------------------------------------------------*/

.post_list {
	padding: 0 0 0 0;
	margin: 20px 0;
}

.little_title {
	font-size: 22px;
	font-weight: 600;
	margin: auto 0 20px 0;
}

.post_list li {
	padding: 0 0 0 3px;
	margin: 0px 0 15px 35px;
	line-height: 2;
}

.post_list .highlight-gray,
.post_list .highlight-blue,
.post_list .highlight-green {
	border-radius: 0.5rem;
	padding: 7px;
	margin: 0 5px 0 0 !important;
	font-size: 18px;
}

.post_list img {
	margin: 10px auto;
}

.post_list.close li {
	line-height: 1.5;
}

/*--------------------------------------------------------------
# Notice
--------------------------------------------------------------*/

.notice {
	padding: 20px;
	border-radius: 1rem;
	color: var(--highlight-font-1);
	background-color: var(--highlight-bg-1);
	margin: 20px auto;
}

.notice ul {	
	margin: 0;
}

.notice ul li {
	border-radius: 1rem;
	color: var(--highlight-font-1);	
	display: flex;
	align-items: flex-start;
}
.notice .icon {
	flex: 0 0 auto;
	margin-right: 10px;
}
  
.notice .text {
	flex: 1;
}

/*--------------------------------------------------------------
# Math、mjx-math
--------------------------------------------------------------*/

.math-container {
	margin: auto;
	padding: 20px;
	border-radius: 1rem;
	color: var(--font2-color);
	border: 1px solid var(--font3-color);
	background-color: var(--bg-color);
}

.math-container .katex-display::-webkit-scrollbar {
	height: 0;
}

.math-container .katex-display {	
	overflow-x: auto;
	padding: 20px;
}

.math-container:hover {	
	box-shadow: var(--shadow4-color);
}

.math_inline {
	padding: 5px;
	font-size: 18px;
}

.math_inline.center {
	padding: 5px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.math_block {
	padding: 0;
	display: flex;
	font-size: 20px;
	align-items: flex-start;
}

/*--------------------------------------------------------------
# P、Format
--------------------------------------------------------------*/

h2 {
	font-size: 32px;
	margin-top: 10%;
	text-align: start;
	text-transform: none;
	font-family: "PingFang TC", Consolas;
}

.margin{
	margin-bottom: 80px !important;
}

img.medium {
	width: 70%;
	margin-left: auto !important;
	margin-right: auto !important;
}

p.medium,
.medium.post_list {
	width: 70%;
	margin-left: 15% !important;
}

.medium.math-container,
.medium.post-table {
	width: 70%;
	margin-left: auto !important;
	margin-right: auto !important;
}

/*--------------------------------------------------------------
# Alert
--------------------------------------------------------------*/

#custom-alert-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--opacity-bg-2);
	backdrop-filter: blur(5px);
	justify-content: center;
	align-items: center;
	z-index: 997;
}

.custom-alert-content {
	background-color: var(--bg3-color);
	border-radius: 1rem;
	box-shadow: var(--shadow-color);
	margin: auto;
	padding: 40px;
	text-align: center;
	max-width: 100vw;
}

.custom-alert-latex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	border: 3px solid var(--code-bg);
	border-radius: 0.5rem;
	background-color: var(--code-bg);
	overflow: hidden;
	margin: 5px 0;
}

#math-formula {
	background-color: var(--bg3-color);
	padding: 3px 5px;
	white-space: nowrap;
	overflow-x: auto;
}

#math-formula::-webkit-scrollbar {
	height: 0px;
}

#custom-alert-copy {
	display: flex;
	align-items: center;
	height: 100%;
	width: 50px;
	background: var(--code-bg);
	border: none;
	border-left: 3px solid var(--code-bg);
	margin: auto;
}

#custom-alert-copy iconify-icon {
	color: var(--font2-color);
	font-size: 22px;
	margin: auto;
}

#custom-alert-copy:hover iconify-icon {
	color: var(--hover-font-color);
}

#custom-alert-message {
	margin: 20px 0 20px;
}

#custom-alert-close {
	padding: 5px 20px;
	background-color: var(--font2-color);
	color: var(--bg3-color);
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	margin: 20px 5px 0;
}

#custom-alert-close:hover {
	background-color: var(--hover-font-color);
	color: var(--hover-bg-color);
}

/*--------------------------------------------------------------
# Freeze Table
--------------------------------------------------------------*/

/*凍結表頭/行頭*/
/*sticky會跟著上一層的overfloat跑！！因此要定義一個外框*/
.table-sticky-wrapper {
	width: 100%;
	height: 60vh;/*外框的高度*/
	overflow:auto;
}

.table-sticky-wrapper:hover.table-sticky-wrapper::-webkit-scrollbar {	
	display: block;
}

.table-sticky-wrapper::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background-color: var(--bg3-color);
	display: none;
} 

.table-sticky-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
} 

table.table-sticky {
	table-layout: fixed;
	table-layout: auto;
	min-width: 100%;
	width: auto;
	overflow: unset!important;	
	margin-bottom: 0px !important;
}
  
.table-sticky tr {
	overflow: hidden !important;
	border-radius: 10px;	
	border-bottom: 2px solid var(--font3-color);
	vertical-align: middle;
}
  
.table-sticky th {
	position:sticky;
	word-break: keep-all;
	background-color: var(--code-bg);
	color: var(--font-color);
	vertical-align: middle;
}
  
.table-sticky td {
	border-right: 2px solid var(--font3-color);
	background-color: var(--bg3-color);
	color: var(--font-color);
}

.table-sticky th.center,
.table-sticky td.center {
	text-align: center;
}
  
.table-sticky thead tr th:first-of-type {
	left: 0px;/*sticky要用 上下左右定位*/
	z-index:3;
	border-right: 0;
	box-shadow: -2px -2px 0 inset var(--font3-color);
}
  
.table-sticky thead tr th{
	top:0;/*sticky要用 上下左右定位*/
	vertical-align: middle;
	border-bottom: 0;
	border-right: 2px solid var(--font3-color);
	box-shadow: 0 -2px 0 inset var(--font3-color);
	z-index: 2;
}
  
/*sticky要用 上下左右定位*/
.table-sticky tbody th {
	left: 0;/*定位用*/
	z-index: 2;/*遮蓋表格內容的圖層層級設定*/
	box-shadow: -2px 0 0 inset var(--font3-color);
}

.table-sticky thead tr, 
.table-sticky tbody tr:last-child {
    border-bottom: 0px solid var(--font3-color);
}

.table-sticky tbody th {
	text-align: center;
	vertical-align: middle;
}