/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* 定義 PingFang TC 字體 */
@font-face {
  font-family: 'PingFang TC';
  src: url('../fonts/PingFangTC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MV Boli'; /* 字體名稱，可以自行命名 */
  src: url('../fonts/mvboli.ttf') format('truetype'); /* 字體檔案路徑 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe Devanagari'; /* 字體名稱，可以自行命名 */
  src: url('../fonts/AdobeDevanagari-Regular.otf') format('truetype'); /* 字體檔案路徑 */
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #f5f5f5;    /* 背景顏色-1 */
  --bg2-color: #e1e1e1;    /* 背景顏色-2 */
  --bg3-color: #ffffff;    /* 背景顏色-3 */
  --font-color: #222222;    /* 文字顏色-1 */
  --font2-color: #3a3a3a;    /* 文字顏色-2 */
  --font3-color: #cacaca;    /* 文字顏色-3 */
  --sp-color: #ab1c1c;    /* 特殊顏色-1 */
  --sp2-color: #8b4646;    /* 特殊顏色-2 */
  --hover-bg-color: #d6d6d6;    /* Hover背景顏色-1 */
  --hover-font-color: #6c6c6c;    /* Hover文字顏色-1 */
  --bar-color: #f8f8f893;    /* top-bar背景顏色 */
  --shadow-color: 0px 0px 15px rgba(27, 27, 27, 0.305);    /* 陰影顏色-1 */
  --shadow2-color: 5px 5px 15px #868686, 0px 0px 1px #cbcbcb;    /* 陰影顏色-2 */
  --shadow3-color: 0px 0px 5px rgba(40, 40, 40, 0.316);    /* 陰影顏色-3 */
  --shadow4-color: 0px 0px 3px rgba(68, 68, 68, 0.316);    /* 陰影顏色-4 */
  --hero-bg: url(../img/hero_light.png);    /* 首頁圖片 */
  --hero-bg-load: url(./assets/img/hero_light.png);    /* 首頁圖片 */
  --hero-bg-small: url(../img/hero_light-small.png);    /* 首頁圖片-Small */
  --code-line: rgb(97, 97, 97);   /* CodeBlock背景顏色-1 */
  --code-bg: #ebebeb;   /* CodeBlock背景顏色-1 */
  --code-bg2: #fcfcfc;   /* CodeBlock背景顏色-2 */
  --highlight-font-1: #bf2222;   /* Highlight文字顏色-1 */
  --highlight-font-2: #e16500;   /* Highlight文字顏色-2 */
  --highlight-font-3: #2c8a15;   /* Highlight文字顏色-3 */
  --highlight-font-4: #234eb2;   /* Highlight文字顏色-4 */
  --highlight-font-5: #1a1a1a;   /* Highlight文字顏色-5 */
  --highlight-font-6: #6d1880;   /* Highlight文字顏色-6 */
  --highlight-bg-1: #fce6e6e8;   /* Highlight文字顏色-1 */
  --highlight-bg-2: #ffefcbe8;   /* Highlight文字顏色-2 */
  --highlight-bg-3: #e3ffdfe8;   /* Highlight文字顏色-3 */
  --highlight-bg-4: #dee8fee8;   /* Highlight文字顏色-4 */
  --highlight-bg-5: #e3e3e3e8;   /* Highlight文字顏色-5 */  
  --highlight-bg-6: #f9ebffe8;   /* Highlight文字顏色-6 */ 
  --opacity-bg-1: #8a8a8a9e;   /* 透明背景顏色-1 */
  --opacity-bg-2: #414141b9;   /* 透明背景顏色-2 */
  --opacity-bg-3: #f5f5f5c5;   /* 透明背景顏色-3 */
  --annotation-color: #d12121;   /* 註解文字顏色-1 */
  --mark: #ffebaf;   /* Mark背景顏色 */
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

p {
  font-family: Consolas, "PingFang TC";
}

.light-mode {
  --bg-color: #f5f5f5;    /* 背景顏色-1 */
  --bg2-color: #e1e1e1;    /* 背景顏色-2 */
  --bg3-color: #ffffff;    /* 背景顏色-3 */
  --font-color: #222222;    /* 文字顏色-1 */
  --font2-color: #3a3a3a;    /* 文字顏色-2 */
  --font3-color: #cacaca;    /* 文字顏色-3 */
  --sp-color: #ab1c1c;    /* 特殊顏色-1 */
  --sp2-color: #8b4646;    /* 特殊顏色-2 */
  --hover-bg-color: #d6d6d6;    /* Hover背景顏色-1 */
  --hover-font-color: #6c6c6c;    /* Hover文字顏色-1 */
  --bar-color: #f8f8f893;    /* top-bar背景顏色 */
  --shadow-color: 0px 0px 15px rgba(27, 27, 27, 0.305);    /* 陰影顏色-1 */
  --shadow2-color: 5px 5px 15px #868686, 0px 0px 1px #cbcbcb;    /* 陰影顏色-2 */
  --shadow3-color: 0px 0px 5px rgba(40, 40, 40, 0.316);    /* 陰影顏色-3 */
  --shadow4-color: 0px 0px 3px rgba(68, 68, 68, 0.316);    /* 陰影顏色-4 */
  --hero-bg: url(../img/hero_light.png);    /* 首頁圖片 */
  --hero-bg-small: url(../img/hero_light-small.png);    /* 首頁圖片-Small */
  --code-line: rgb(97, 97, 97);   /* CodeBlock背景顏色-1 */
  --code-bg: #ebebeb;   /* CodeBlock背景顏色-1 */
  --code-bg2: #fcfcfc;   /* CodeBlock背景顏色-2 */
  --highlight-font-1: #bf2222;   /* Highlight文字顏色-1 */
  --highlight-font-2: #e16500;   /* Highlight文字顏色-2 */
  --highlight-font-3: #2c8a15;   /* Highlight文字顏色-3 */
  --highlight-font-4: #234eb2;   /* Highlight文字顏色-4 */
  --highlight-font-5: #1a1a1a;   /* Highlight文字顏色-5 */
  --highlight-font-6: #6d1880;   /* Highlight文字顏色-6 */
  --highlight-bg-1: #fce6e6e8;   /* Highlight文字顏色-1 */
  --highlight-bg-2: #ffefcbe8;   /* Highlight文字顏色-2 */
  --highlight-bg-3: #e3ffdfe8;   /* Highlight文字顏色-3 */
  --highlight-bg-4: #dee8fee8;   /* Highlight文字顏色-4 */
  --highlight-bg-5: #e3e3e3e8;   /* Highlight文字顏色-5 */  
  --highlight-bg-6: #f9ebffe8;   /* Highlight文字顏色-6 */ 
  --opacity-bg-1: #8a8a8a9e;   /* 透明背景顏色-1 */
  --opacity-bg-2: #414141b9;   /* 透明背景顏色-2 */
  --opacity-bg-3: #f5f5f5c5;   /* 透明背景顏色-3 */
  --annotation-color: #d12121;   /* 註解文字顏色-1 */
  --mark: #ffebaf;   /* Mark背景顏色 */
}

.dark-mode {
  --bg-color: #2a2a2a;    /* 背景顏色-1 */
  --bg2-color: #4b4b4b;    /* 背景顏色-2 */
  --bg3-color: #1c1c1c;    /* 背景顏色-3 */
  --font-color: #ffffff;    /* 文字顏色-1 */
  --font2-color: #e7e7e7;    /* 文字顏色-2 */
  --font3-color: #404040;    /* 文字顏色-3 */
  --sp-color: #d24747;    /* 特殊顏色-1 */
  --sp2-color: #bb7a7a;    /* 特殊顏色-2 */
  --hover-bg-color: #5f5f5f;    /* Hover背景顏色-1 */
  --hover-font-color: #949494;    /* Hover文字顏色-1 */
  --bar-color: #2a2a2a93;    /* top-bar背景顏色 */
  --shadow-color: 0px 0px 15px rgba(134, 134, 134, 0.305);    /* 陰影顏色-1 */
  --shadow2-color: 5px 5px 10px #424242f7, -1px -1px 1px #2a2a2a;    /* 陰影顏色-2 */
  --shadow3-color: 0px 0px 8px rgba(65, 65, 65, 0.332);    /* 陰影顏色-3 */
  --shadow4-color: 0px 0px 10px rgba(62, 62, 62, 0.316);    /* 陰影顏色-4 */
  --hero-bg: url(../img/hero_dark.png);    /* 首頁圖片 */  
  --hero-bg-small: url(../img/hero_dark-small.png);    /* 首頁圖片-Small */
  --code-line: #858585;   /* CodeBlock背景顏色-1 */
  --code-bg: #27292D;   /* CodeBlock背景顏色-1 */
  --code-bg2: #21252B;   /* CodeBlock背景顏色-2 */
  --highlight-font-1: #bf2222;   /* Highlight文字顏色-1 */
  --highlight-font-2: #e16500;   /* Highlight文字顏色-2 */
  --highlight-font-3: #2c8a15;   /* Highlight文字顏色-3 */
  --highlight-font-4: #234eb2;   /* Highlight文字顏色-4 */
  --highlight-font-5: #1b1b1b;   /* Highlight文字顏色-5 */
  --highlight-font-6: #6d1880;   /* Highlight文字顏色-6 */
  --highlight-bg-1: #fce6e6e8;   /* Highlight文字顏色-1 */
  --highlight-bg-2: #ffefcbe8;   /* Highlight文字顏色-2 */
  --highlight-bg-3: #e3ffdfe8;   /* Highlight文字顏色-3 */
  --highlight-bg-4: #dee8fee8;   /* Highlight文字顏色-4 */
  --highlight-bg-5: #e3e3e3e8;   /* Highlight文字顏色-5 */  
  --highlight-bg-6: #f9ebffe8;   /* Highlight文字顏色-6 */ 
  --opacity-bg-1: rgba(80, 80, 80, 0.663);   /* 透明背景顏色-1 */
  --opacity-bg-2: #1e1e1eb9;   /* 透明背景顏色-2 */
  --opacity-bg-3: #1e1e1eb4;   /* 透明背景顏色-3 */
  --annotation-color: #e05858;   /* 註解文字顏色-1 */
  --mark: #af7722;   /* Mark背景顏色 */
}

/* 白天模式的樣式 */
@media (prefers-color-scheme: light) {
  .auto-mode {
    --bg-color: #f5f5f5;    /* 背景顏色-1 */
    --bg2-color: #e1e1e1;    /* 背景顏色-2 */
    --bg3-color: #ffffff;    /* 背景顏色-3 */
    --font-color: #222222;    /* 文字顏色-1 */
    --font2-color: #333333;    /* 文字顏色-2 */
    --font3-color: #cacaca;    /* 文字顏色-3 */
    --sp-color: #ab1c1c;    /* 特殊顏色-1 */
    --sp2-color: #8b4646;    /* 特殊顏色-2 */
    --hover-bg-color: #d6d6d6;    /* Hover背景顏色-1 */
    --hover-font-color: #6c6c6c;    /* Hover文字顏色-1 */
    --bar-color: #f8f8f893;    /* top-bar背景顏色 */
    --shadow-color: 0px 0px 15px rgba(27, 27, 27, 0.305);    /* 陰影顏色-1 */
    --shadow2-color: 5px 5px 15px #868686, 0px 0px 1px #cbcbcb;    /* 陰影顏色-2 */
    --shadow3-color: 0px 0px 5px rgba(40, 40, 40, 0.316);    /* 陰影顏色-3 */
    --shadow4-color: 0px 0px 3px rgba(68, 68, 68, 0.316);    /* 陰影顏色-4 */
    --hero-bg: url(../img/hero_light.png);    /* 首頁圖片 */ 
    --hero-bg-small: url(../img/hero_light-small.png);    /* 首頁圖片-Small */
    --code-line: rgb(97, 97, 97);   /* CodeBlock背景顏色-1 */
    --code-bg: #ebebeb;   /* CodeBlock背景顏色-1 */
    --code-bg2: #fcfcfc;   /* CodeBlock背景顏色-2 */
    --highlight-font-1: #bf2222;   /* Highlight文字顏色-1 */
    --highlight-font-2: #e16500;   /* Highlight文字顏色-2 */
    --highlight-font-3: #2c8a15;   /* Highlight文字顏色-3 */
    --highlight-font-4: #234eb2;   /* Highlight文字顏色-4 */
    --highlight-font-5: #1a1a1a;   /* Highlight文字顏色-5 */
    --highlight-font-6: #6d1880;   /* Highlight文字顏色-6 */
    --highlight-bg-1: #fce6e6e8;   /* Highlight文字顏色-1 */
    --highlight-bg-2: #ffefcbe8;   /* Highlight文字顏色-2 */
    --highlight-bg-3: #e3ffdfe8;   /* Highlight文字顏色-3 */
    --highlight-bg-4: #dee8fee8;   /* Highlight文字顏色-4 */
    --highlight-bg-5: #e3e3e3e8;   /* Highlight文字顏色-5 */  
    --highlight-bg-6: #f9ebffe8;   /* Highlight文字顏色-6 */ 
    --opacity-bg-1: #8a8a8a9e;   /* 透明背景顏色-1 */
    --opacity-bg-2: #414141b9;   /* 透明背景顏色-2 */
    --opacity-bg-3: #f5f5f5c5;   /* 透明背景顏色-3 */
    --annotation-color: #d12121;   /* 註解文字顏色-1 */
    --mark: #ffebaf;   /* Mark背景顏色 */
  }
}

/* 夜晚模式的樣式 */
@media (prefers-color-scheme: dark) {
  .auto-mode {
    --bg-color: #2a2a2a;    /* 背景顏色-1 */
    --bg2-color: #4b4b4b;    /* 背景顏色-2 */
    --bg3-color: #1c1c1c;    /* 背景顏色-3 */
    --font-color: #ffffff;    /* 文字顏色-1 */
    --font2-color: #e7e7e7;    /* 文字顏色-2 */
    --font3-color: #404040;    /* 文字顏色-3 */
    --sp-color: #d24747;    /* 特殊顏色-1 */
    --sp2-color: #bb7a7a;    /* 特殊顏色-2 */
    --hover-bg-color: #5f5f5f;    /* Hover背景顏色-1 */
    --hover-font-color: #949494;    /* Hover文字顏色-1 */
    --bar-color: #2a2a2a93;    /* top-bar背景顏色 */
    --shadow-color: 0px 0px 15px rgba(134, 134, 134, 0.305);    /* 陰影顏色-1 */
    --shadow2-color: 5px 5px 10px #424242f7, -1px -1px 1px #2a2a2a;    /* 陰影顏色-2 */
    --shadow3-color: 0px 0px 8px rgba(65, 65, 65, 0.332);    /* 陰影顏色-3 */
    --shadow4-color: 0px 0px 10px rgba(62, 62, 62, 0.316);    /* 陰影顏色-4 */
    --hero-bg: url(../img/hero_dark.png);    /* 首頁圖片 */  
    --hero-bg-small: url(../img/hero_dark-small.png);    /* 首頁圖片-Small */ 
    --code-line: #858585;   /* CodeBlock背景顏色-1 */
    --code-bg: #27292D;   /* CodeBlock背景顏色-1 */
    --code-bg2: #21252B;   /* CodeBlock背景顏色-2 */
    --highlight-font-1: #bf2222;   /* Highlight文字顏色-1 */
    --highlight-font-2: #e16500;   /* Highlight文字顏色-2 */
    --highlight-font-3: #2c8a15;   /* Highlight文字顏色-3 */
    --highlight-font-4: #234eb2;   /* Highlight文字顏色-4 */
    --highlight-font-5: #1a1a1a;   /* Highlight文字顏色-5 */
    --highlight-font-6: #6d1880;   /* Highlight文字顏色-6 */
    --highlight-bg-1: #fce6e6e8;   /* Highlight文字顏色-1 */
    --highlight-bg-2: #ffefcbe8;   /* Highlight文字顏色-2 */
    --highlight-bg-3: #e3ffdfe8;   /* Highlight文字顏色-3 */
    --highlight-bg-4: #dee8fee8;   /* Highlight文字顏色-4 */
    --highlight-bg-5: #e3e3e3e8;   /* Highlight文字顏色-5 */  
    --highlight-bg-6: #f9ebffe8;   /* Highlight文字顏色-6 */ 
    --opacity-bg-1: rgba(80, 80, 80, 0.663);   /* 透明背景顏色-1 */
    --opacity-bg-2: #1e1e1eb9;   /* 透明背景顏色-2 */
    --opacity-bg-3: #1e1e1eb4;   /* 透明背景顏色-3 */
    --annotation-color: #e05858;   /* 註解文字顏色-1 */
    --mark: #af7722;   /* Mark背景顏色 */
  }
}

*::selection {
  background: var(--font2-color);
  color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  color: var(--hover-font-color);
  text-decoration: none;
}

h2{
  font-size: 36px;
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;  
  margin-top: 14vh;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--font-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--bg-color);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--hover-font-color);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: var(--shadow-color);  
  backdrop-filter: blur(10px);
  background-color: var(--bar-color);
}

#header .logo{
  font-size: 26px;
  margin: 0;
  padding: 0;
  line-height: 0.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "MV Boli", Consolas;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}

#header .logo a {
  user-select: none;
  color: var(--font-color);
}

#header .logo a:hover {
  text-shadow: 0px 0px 10px rgba(218, 22, 0, 0.854);
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {  
  font-family: Consolas, "PingFang TC";
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.navbar li {
  position: relative;
}

.navbar a .bi {
  font-size: 22px; /* 調整此值來控制圖示大小 */
}

/* 在圖示和文字之間留下一些空隙 */
.navbar a {
  display: flex;
  align-items: center;
}

.navbar a i {
  margin-right: 10px; /* 調整此值來控制圖示和文字之間的距離 */
}

.navbar a,
.navbar a:focus {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: Consolas, "PingFang TC";
  font-weight: 700;
  color: var(--font-color);
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a i {
  font-size: 24px;
  line-height: 0;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a:hover i,
.navbar li:hover>a {
  color: var(--hover-bg-color);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  right: 0px;
  top: calc(100% + 10px);
  margin: 0;
  padding: 5px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--bg-color);
  box-shadow: var(--shadow-color);
  transition: 0.3s;
  border-radius: 10px; /* 新增圓角設定 */
  border: 1px solid var(--font2-color);
  overflow: hidden;
}

.navbar .dropdown.active i {
  color: var(--font2-color);
}

.navbar .dropdown button {
  background: none;
  border: none;
  display: flex;
  align-items: start;
  padding-left: 30px;
  color: var(--font2-color);
}

.navbar .dropdown ul li {
  min-width: 170px;
}

.navbar .dropdown ul i {
  margin-right: 15px; /* 調整這個值，以增加文字和 icon 的間距 */
  font-size: 20px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul li button {
  width: 100%;
  padding: 8px 15px;
}

.navbar .dropdown ul li .selected,
.navbar .dropdown ul li .selected i {
  color: var(--bg-color);
  background-color: var(--font2-color);
}

.navbar .dropdown ul li .mode-switch:hover:not(.selected) {
  background-color: var(--bg2-color) !important;
}

.navbar .dropdown:focus-within,
.navbar .dropdown.active ul {
  opacity: 1;
  visibility: visible;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle, .mobile-mode {
  color: var(--font-color);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: var(--font-color);
}

@media (max-width: 991px) {
  .mobile-mode {
    margin-right: 10px;
    font-size: 20px;
  }

  .mobile-nav-toggle, .mobile-mode {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  #header {
    backdrop-filter: none;
    background-color: var(--bg-color);
  }

  #header .logo{
    font-size: 20px;
  }

  .navbar .dropdown button {
    display: none;
  }
  
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--bar-color);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-mode{
  display: none;
}

.navbar-mobile .mobile-nav-toggle{
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: var(--bg2-color);
  overflow-y: auto;
  transition: 0.3s;
  box-shadow: var(--shadow-color);
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--font-color);
}

.navbar-mobile a:hover,
.navbar-mobile .active {
  color: var(--font-color);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: var(--font-color);
  font-size: 14px;
  text-align: center;
  padding: 50px 0;
  margin: auto;
  font-family: "Ping Fang TC", Consolas;
}

.footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: Consolas, "PingFang TC";
  padding: 0;
  margin: 0 0 15px 0;
}

.footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

.footer span {
  font-weight: bolder;
}

.footer .copyright {
  margin: 0 0 5px 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
  border-radius: 5px;
} 

::-webkit-scrollbar-thumb {
  background-color: var(--hover-font-color);
  border-radius: 5px;
}

@media (max-width: 575px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
}